# use this for testing only! Store credentials in configs/credentials.php
# .env files are only to be used for development
DATABASE_TYPE=mysql
DATABASE_USER=root
DATABASE_PASS=password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
